<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dhgfifwgd/image/upload/v1597226128/lbalogo_zmn3to.png", alt: "Retour à l'accueil" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-links-lba">
      <li class=""><%= link_to "Contact", "contact" %></li>
      <li><%= link_to "Les produits & soins mixtes", "https://slowlabeauteautrement.kalendes.com/visit/#/booking" %></li>
      <%
=begin%>
 <li><%= link_to "Nos soins", "https://slowlabeauteautrement.kalendes.com/visit/#/booking" %></li> 
<%
=end%>
    </ul>
  </div>
</div>
