<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>La Beaute Autrement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- KALENDES WIDGET -->
    <script src="https://www.kalendes.com/widget/widget.js?onload=kalendesLoaded" type="text/javascript"></script>
    <script>/*<![CDATA[*/kalendes_host="slowlabeauteautrement";/*]]>*/</script>
    <!-- END OF KALENDES WIDGET -->
    <%= render 'shared/navbar' %>
    <div>
    <%= render 'shared/social_links' %>

    <%= yield %>
    </div>
    <% if action_name == 'home' %>
      <%= render 'shared/home_footer' %>
    <% end %>
    <%= render 'shared/footer' %>
  </body>
</html>
