<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>La Beauté Autrement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<!--     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171249568-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-171249568-2');
    </script> -->
  </head>

  <body class="bg-white">

    <%= render 'shared/navbar' %>
    <%= render 'shared/social_links' %>

    <% if action_name == 'home' %>
      <%= yield %>
    <% else %>
      <div class="main-container">
        <%= yield %>
      </div>
    <% end %>

    <% if action_name == 'home' %>
      <%= render 'shared/home_footer' %>
    <% end %>
    <% if action_name == 'home' %>
      <%= render 'shared/footer_right' %>
    <% else %>
      <%= render 'shared/footer_pages' %>
    <% end %>
  </body>
</html>
